html {
    height: 100%;
}

body {
    font-family:'Roboto', serif; 
    background-image: url("../img/XrNF3S.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
 }

li {
    margin: 20px auto;
    color: #c5cb11;
    max-width: 70%;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    list-style-type: none;
}

h2{
    text-align: center;
}

.name-item {
  background:none;
  margin: 0;
  padding: 0;
}




 